@use "../../../../../../../scss/variables" as *;

.user-detail-field {
  display: flex;
  padding-bottom: 0.75rem;
  flex-direction: column;

  &__key {
    margin-bottom: 0.25rem;
    color: $grey;
  }

  &__value {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
}