@use "../../../../../scss/variables" as *;

.user-list {
  overflow-x: auto;
  position: relative;

  &__create-form {
    gap: 4px;
    width: max-content;
    margin: auto;
    

    input {
      margin-right: 0.25rem;
    }

    &__errors {
      color: red;
    }
  }

  &__search {
    margin-bottom: 1rem;
  }

  &__table {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: left;
    color: $grey;

    &__header {
      font-size: 0.75rem;
      line-height: 1rem;
      text-transform: uppercase;
      color: $grey;
      background-color: $grey-1;
    }
  }

}